{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "useTabs": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "endOfLine": "auto",
  "bracketSameLine": false,
  "quoteProps": "as-needed"
}
